
body {
  background: rgba(128,0,128,0.8)
}


h1 {
  color: rgb(128, 0, 128);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: Center;
}