
body {
  background: rgba(200, 200, 200, 0.75);
}


h1 {
  color: blue;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: Center;
  font-size: 75px;
}



/*
font-family: 'ZCOOL QingKe HuangYou', cursive;