* {
  box-sizing: border-box;
}


body {
  background: rgba(200, 200, 200, 0.75);
  font-family: 'Space Mono', monospace;
  text-align: center;
}


h1 {
  color: blue;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: Center;
  font-size: 75px;
}

.body {
  width: 80%;
  background-color: rgba(255,255,255,0.75);
}

.subheading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.usefull_links {
  
}

footer {
  position: fixed;
  text-align: center;

}


/*
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Space Mono', monospace;